body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-image: url('../src/Background\ Pattern.png'); 
    background-size: cover;
    background-repeat: no-repeat; 
}
.form-container {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }
.login input{
    display: block;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.login form {
    display: flex;
    flex-direction: column;
}
.login h2 {
    margin-top: 0;
  }
  
  .login label {
    margin-top: 10px;
  }
  
  .login input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  .login button {
    padding: 8px 20px;
    margin-top: 20px; /* Increased margin to add space below the input fields */
    background-color: #035ec0;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.login .forgetPass{
    text-align: center;
    color: blue;
    cursor: pointer;
}
#signup{
    color: blue;
}
.welcome{
    color: rgba(128, 128, 128, 0.92);
}
.error{
    color: red;
}

/* Mobile screen styles */
@media (max-width: 480px) {
    
    .login {
     
      width: 500px;
      margin-left: 10px;
      margin-right: 10px;
    }
}

